@import url(base.css);
@import url(normalize.css);


body{
    font-family: "Pretendard Variable", Pretendard, -apple-system,
    BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI",
    "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
}


/* 전체 박스 */
.about-wrapper{
    margin: 50px;

    width: 190px;
    background: 
    linear-gradient(180deg, #CCCCCC 0%, #EEEEEE 100%),
    linear-gradient(0deg, #A3A3A3, #A3A3A3);
    border: 1px solid #A3A3A3;
    border-radius: 0 0 5px 5px;
    box-sizing: border-box;
    padding: 8px 12px 12px 12px;
}

/* 관련 사이트 글씨 */
.site-text{
    font-size: 15px;
    font-weight: 700;
    color: #181818;
    margin-bottom: 8px;
}

.orange{
    color: #ED552F;
}

/* 흰색 창 초기값 */
.site-list-wrapper{
    width: 166px;
    background: #fff;
    border: 1px solid #A3A3A3;
    border-radius: 5px;
    overflow: hidden;
    height: 29px;
    transition: height, 800ms;
}

/* 흰색 창 hover 결과값 */
.site-list-wrapper:hover{
    height: 171px;
}

/* 리스트 목록 초기값 */
.site-list{
    overflow: hidden;
    transition: padding-top 350ms 700ms ease-in-out;
}

/* 리스트 목록 결과값 */
.site-list:hover{
    padding-top: 13px;
}

.site-list li{
    font-size: 14px;
    font-weight: 400;
    color: #181818;
}

.site-list a{
    padding-left: 24px;
    display: block;
    height: 29px;
    line-height: 29px;
}